WeatherInfo/Web References/WeatherReference/WeatherService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="WeatherService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:49688/WeatherService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:49688/WeatherService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49688/WeatherService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WeatherService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IWeather_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IWeather_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IWeather_GetWeather_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeather" />
  </wsdl:message>
  <wsdl:message name="IWeather_GetWeather_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherResponse" />
  </wsdl:message>
  <wsdl:message name="IWeather_GetWeatherJson_InputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherJson" />
  </wsdl:message>
  <wsdl:message name="IWeather_GetWeatherJson_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetWeatherJsonResponse" />
  </wsdl:message>
  <wsdl:portType name="IWeather">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/GetData" message="tns:IWeather_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeather/GetDataResponse" message="tns:IWeather_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeather">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/GetWeather" message="tns:IWeather_GetWeather_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeather/GetWeatherResponse" message="tns:IWeather_GetWeather_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetWeatherJson">
      <wsdl:input wsaw:Action="http://tempuri.org/IWeather/GetWeatherJson" message="tns:IWeather_GetWeatherJson_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IWeather/GetWeatherJsonResponse" message="tns:IWeather_GetWeatherJson_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IWeather" type="tns:IWeather">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IWeather/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeather">
      <soap:operation soapAction="http://tempuri.org/IWeather/GetWeather" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetWeatherJson">
      <soap:operation soapAction="http://tempuri.org/IWeather/GetWeatherJson" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WeatherService">
    <wsdl:port name="BasicHttpBinding_IWeather" binding="tns:BasicHttpBinding_IWeather">
      <soap:address location="http://localhost:49688/WeatherService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>